*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    background-color: rgba(255, 174, 24, 0.856);
    color: rgb(0, 0, 0);
    width: 90vw;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 15px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.month{
    width: 100%;
    background-color: blueviolet;
    height:117px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.month h1{
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 8px 3px 10px rgba(0, 0, 0, .4);
}
.month p{
    font-size: 1.2em;
    text-shadow: 8px 3px 5px rgba(0, 0, 0, .4);
    position: relative;
    left:1.2em;
}
.weekdays{
    width: 100%;
    height: 2.5em;
    display: flex;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
   background-color: skyblue;
   
}
.weekdays div{
 font-size: 1.1em;
 font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
}
.days div{
    font-size: 1.2em;
    margin: 3px;
    width: 3.5em;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.days div:hover:not(.empty){
    border:2px solid gray;
    font-size: 1em;
}
.today{
    background-color: blueviolet;
}
.special:hover{
    
     background-color: rgb(48, 180, 180);
     color: black;
     font-size: 1.9em;
     
     
}





